@import "../../assets/styles/extends";
@import "../../assets//styles/variables";

.button {
	@extend %font-style;

	padding: 16px;

	border: 1px solid $borderColor;
	border-radius: 8px;

	background: $mainBg;

	color: $mainText;

	&.active {
		color: $activeText;
		background: $accentBg;
	}
}
